<div id="container" class="container" fxLayout fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="10px"
  fxLayout.xs="column">
    <div cdkDropList #firstList="cdkDropList" [cdkDropListData]="first" [cdkDropListConnectedTo]="[thirdList, secondList]"
      (cdkDropListDropped)="drop($event)" class="list container" fxLayout="column" fxLayoutGap="20px" fxFlex="100%"
      fxFlex.sm="100%">
      <div class="list-item" *ngFor="let item of first" cdkDrag>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <p class="card-title-text">
                {{item}}
              </p>
              <button mat-icon-button class="right-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-icon-button class="left-button" cdkDragHandle>
                <mat-icon>open_with</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div cdkDropList #secondList="cdkDropList" [cdkDropListData]="second" [cdkDropListConnectedTo]="[thirdList, firstList]"
      (cdkDropListDropped)="drop($event)" class="list container" fxLayout="column" fxLayoutGap="20px" fxFlex="45%"
      fxFlex.sm="100%">
      <div class="list-item" *ngFor="let item of second" cdkDrag>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <p class="card-title-text">
                {{item}}
              </p>
              <button mat-icon-button class="right-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-icon-button class="left-button" cdkDragHandle>
                <mat-icon>open_with</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div cdkDropList #thirdList="cdkDropList" [cdkDropListData]="third" [cdkDropListConnectedTo]="[secondList, firstList]"
      (cdkDropListDropped)="drop($event)" class="list container" fxLayout="column" fxLayoutGap="20px" fxFlex="45%"
      fxFlex.sm="100%">
      <div class="list-item" *ngFor="let item of third" cdkDrag>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <p class="card-title-text">
                {{item}}
              </p>
              <button mat-icon-button class="right-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-icon-button class="left-button" cdkDragHandle>
                <mat-icon>open_with</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
</div>